* {
    font-family: Arial;
}
header, footer {
    background-color: saddlebrown;
    color: white;
    height: 100px;
    display: flex;
}
.left {
    width: 55%;
    font-size: 120%;
}
.mid {
    width: 25%;
}
.right {
    width: 20%;
    text-align: right;
}
main {
    background-color: snow;
    padding: 70px;
}
a {
    border: 2px dotted saddlebrown;
    background-color: snow;
    color: saddlebrown;
    padding: 20px;
    line-height: 100px;
}
ol {
    list-style:lower-latin;
}