header {
    background-color: rgb(66, 22, 42);
    color: white;
    font-size: 140%;
    text-align: center;
    height: 100px;
    margin: 0px;
}
main {
    display: flex;
}
.lewy {
    background-color: rgb(142, 115, 110);
    width: 30%;
    height: 600px;
    color: white;
}
.prawy {
    background-color: rgb(230, 230, 230);
    width: 70%;
    height: 600px;
    font-size: 120%;
}
footer {
    background-color: rgb(142, 115, 110);
    color: white;
    text-align: right;
    height: 100px;
}
p {
    margin: 0;
}